/* Short Site format CSS */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #0A122A;
}

/* Let's style the wrapper in such away that, 
it should always be at the center of the browser */
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}
